h1 {
  font-family: 'Alegreya SC', serif;
}

.photo-url {
  border-radius: 25px;
  width: 50vw;
  max-width: 630px;
  max-height: 420px;
  object-fit: cover;
}

.dlt-btn {
  background-color: white;
  border: none;
  font-weight: 700;
  color: #5f6368;
  border-radius: 15px;
}

.crt-str {
  border-radius: 15px;
}
.crt-btn {
  background-color: white;
  color: #5f6368;
  cursor: pointer;
}

.rout-link {
  margin: 2em;
  font-family: 'Roboto Condensed', sans-serif;
  color: #5f6368;
}
.store-container {
  width: 70vw;
  margin: 1em auto;
  padding: 2em 1em;
  border-radius: 10px;
  background-color: #1d1d2a;
  border: 2px solid #07070b;
  color: white;
}

.stores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
}

a {
  text-decoration: none;
}

@media (max-width: 640px) {
  .top-nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    flex-direction: column;
  }
  .rout-link {
    margin: 0em;
  }
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .crt-btn {
    padding: 6px 6px;
  }
}
